<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>
    	<${input.title}/>
    </title>
	<lasso-head/>
  </head>
  <body.p-10>
    <header.flex>
        <a href="/"><img src="./logo.svg"></a>
        <nav.flex.flex-grow.justify-end style="line-height: 32px;">
            <a.ml-8 href="/hello/routing">Routes</a>
            <a.ml-8 href="/layouts">Layouts</a>
			<a.ml-8 href="/test">Test</a>
        </nav>
    </header>
    <main.max-w-2.mx-auto>
      <${input.content}/>
    </main>
	<lasso-body/>
  </body>
</html>
